<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container p-4 ">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/3">
        <div class="h-full flex flex-col justify-between bg-gray-800 bg-opacity-40 px-8 py-8 rounded-lg overflow-hidden relative">
          <div>
            <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3 text-center">Be A Mentor</h1>
            <p class="leading-relaxed mb-3">Inspire innovation during the quarter-finals, a 3-day virtual hackathon from 18-20 August, 2023. Your guidance will enable participants to develop their skills and ideas.</p>
          </div>
           <div class="flex w-full flex-wrap space-y-4 justify-center items-end">
            <a (click)="toggleBeMentorModal()" class="rounded-full px-5 py-2.5 overflow-hidden group bg-gradient-to-r from-indigo-600 to-pink-500 relative hover:bg-gradient-to-r hover:from-indigo-600 hover:to-pink-500 text-white transition-all ease-out duration-300">
              <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
              <span class="relative">Be A Mentor</span>
            </a>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/3">
        <div class="h-full flex flex-col justify-between bg-gray-800 bg-opacity-40 px-8 py-8 rounded-lg overflow-hidden relative">
          <div>
            <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3 text-center">Be An Advisor</h1>
            <p class="leading-relaxed mb-3">Provide bi-weekly feedback to participants throughout the semi-finals, a two-month-long hacker league from August 28 - October 7, 2023. Your insights will sharpen the competitive edge of the event.</p>
          </div>
          <div class="flex w-full flex-wrap space-y-4 justify-center items-end">
            <a (click)="toggleBeAdvisorModal()" class="rounded-full px-5 py-2.5 overflow-hidden group bg-gradient-to-r from-indigo-600 to-pink-500 relative hover:bg-gradient-to-r hover:from-indigo-600 hover:to-pink-500 text-white transition-all ease-out duration-300">
              <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
              <span class="relative">Be An Advisor</span>
            </a>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/3">
        <div class="h-full flex flex-col justify-between bg-gray-800 bg-opacity-40 px-8 py-8 rounded-lg overflow-hidden relative">
          <div>
            <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3 text-center">Sponsor Us</h1>
            <p class="leading-relaxed mb-3">Enhance your visibility within the African tech community, connect with A2SV talent, and fuel the rise of AI innovation in the region through your sponsorship</p>
          </div>
           <div class="flex w-full flex-wrap space-y-4 justify-center items-end">
            <a href="mailto:contact@a2sv.org" class="rounded-full px-5 py-2.5 overflow-hidden group bg-gradient-to-r from-indigo-600 to-pink-500 relative hover:bg-gradient-to-r hover:from-indigo-600 hover:to-pink-500 text-white transition-all ease-out duration-300">
              <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
              <span class="relative">Contact Us</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
