<header class="fixed text-white inset-x-0 top-0">
  <nav
    class="flex gap-x-4 backdrop-blur-lg bg-black bg-opacity-30 items-center justify-between border-b border-gray-600 border-spacing-0.5 max-md:p-2 p-4 lg:px-16"
    aria-label="Global"
  >
    <!-- logo    -->
    <a
      (click)="setLinks('https://a2sv.org')"
      class="cursor-pointer"
      target="_blank"
      rel=""
    >
      <img
        src="assets/atls_logo.svg"
        class="w-32 max-sm:w-22 max-lg:w-24 max-md:w-20"
        alt="a2sv logo"
      />
    </a>
    <!-- nav-text-->
    <div class="hidden justify-between gap-x-4 lg:flex">
      <a
        (click)="scrollToSection('landing')"
        class="text-sm max-xl:text-[0.75rem] cursor-pointer  font-semibold leading-6 hover:text-yellow-500 nav-item {{
          currentSection.toString() == 'landing'
            ? 'text-yellow-500'
            : 'text-gray-200'
        }} "
        >Home</a
      >
      <a
        (click)="scrollToSection('why-attend')"
        class="text-sm max-xl:text-[0.75rem] cursor-pointer font-semibold leading-6  hover:text-yellow-500 nav-item {{
          currentSection.toString() == 'why-attend'
            ? 'text-yellow-500'
            : 'text-gray-200'
        }}"
        >Why Attend ATLS</a
      >
      <!-- <a
        (click)="scrollToSection('project')"
        class="text-sm max-xl:text-[0.75rem] cursor-pointer font-semibold leading-6 hover:text-yellow-500 nav-item {{
          currentSection.toString() == 'project'
            ? 'text-yellow-500'
            : 'text-gray-200'
        }}"
        >Projects</a
      > -->

      <a
        (click)="scrollToSection('innovation')"
        class="text-sm max-xl:text-[0.75rem] cursor-pointer font-semibold leading-6 hover:text-yellow-500 nav-item {{
          currentSection.toString() == 'innovation'
            ? 'text-yellow-500'
            : 'text-gray-200'
        }}"
        >Innovation</a
      >

      <a
        (click)="scrollToSection('leadership')"
        class="text-sm max-xl:text-[0.75rem] cursor-pointer  font-semibold leading-6 hover:text-yellow-500 nav-item {{
          currentSection.toString() == 'leadership'
            ? 'text-yellow-500'
            : 'text-gray-200'
        }} "
        >Leadership
      </a>

      <a
        (click)="scrollToSection('event-info')"
        class="text-sm max-xl:text-[0.75rem] cursor-pointer font-semibold leading-6 hover:text-yellow-500 nav-item {{
          currentSection.toString() == 'event-info'
            ? 'text-yellow-500'
            : 'text-gray-200'
        }}"
        >Event Info</a
      >
    
      <a
        (click)="scrollToSection('get-tickets')"
        class="text-sm max-xl:text-[0.75rem] cursor-pointer font-semibold leading-6 hover:text-yellow-500 nav-item {{
          currentSection.toString() == 'get-tickets'
            ? 'text-yellow-500'
            : 'text-gray-200'
        }}"
        >Get Tickets</a
      >

      <a
        (click)="scrollToSection('about-us')"
        class="text-sm max-xl:text-[0.75rem] cursor-pointer font-semibold leading-6 hover:text-yellow-500 nav-item {{
          currentSection.toString() == 'about-us'
            ? 'text-yellow-500'
            : 'text-gray-200'
        }}"
        >About Us</a
      >
    </div>
    

    <div class="px-3 hidden sm:flex">
      <span
        class="inline-flex sm:ml-auto sm:mt-0 gap-x-3 items-center justify-between"
      >
        <a
          class="ml-2 text-gray-100 hover:text-yellow-500 mb-1"
          target="_blank"
          (click)="setLinks('https://t.me/A2SVOfficial')"
          href="https://t.me/A2SVOfficial"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="white"
            class="w-4 h-4 sm:w-5 sm:h-5"
            viewBox="0 0 24 24"
          >
            <path
              d="M29.919 6.163l-4.225 19.925c-0.319 1.406-1.15 1.756-2.331 1.094l-6.438-4.744-3.106 2.988c-0.344 0.344-0.631 0.631-1.294 0.631l0.463-6.556 11.931-10.781c0.519-0.462-0.113-0.719-0.806-0.256l-14.75 9.288-6.35-1.988c-1.381-0.431-1.406-1.381 0.288-2.044l24.837-9.569c1.15-0.431 2.156 0.256 1.781 2.013z"
            />
          </svg>
        </a>

        <a
          class="text-gray-100 hover:text-yellow-500 mr-2"
          target="_blank"
          (click)="setLinks('https://www.facebook.com/africatosiliconvalley')"
          href="https://www.facebook.com/africatosiliconvalley"
        >
          <svg
            fill="white"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 sm:w-5 sm:h-5"
            viewBox="0 0 24 24"
          >
            <path
              d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
            ></path>
          </svg>
        </a>

        <a
          class="text-gray-100 align-middle hover:text-yellow-500"
          target="_blank"
          (click)="setLinks('https://www.instagram.com/a2sv_org/?hl=en')"
          href="https://www.instagram.com/a2sv_org/?hl=en"
        >
          <svg
            fill="white"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 sm:w-5 sm:h-5"
            viewBox="0 0 448 512"
          >
            <path
              d="M224 202.66A53.34 53.34 0 10277.36 256 53.38 53.38 0 00224 202.66zm124.71-41a54 54 0 00-30.41-30.41c-21-8.29-71-6.43-94.3-6.43s-73.25-1.93-94.31 6.43a54 54 0 00-30.41 30.41c-8.28 21-6.43 71.05-6.43 94.33s-1.85 73.27 6.47 94.34a54 54 0 0030.41 30.41c21 8.29 71 6.43 94.31 6.43s73.24 1.93 94.3-6.43a54 54 0 0030.41-30.41c8.35-21 6.43-71.05 6.43-94.33s1.92-73.26-6.43-94.33zM224 338a82 82 0 1182-82 81.9 81.9 0 01-82 82zm85.38-148.3a19.14 19.14 0 1119.13-19.14 19.1 19.1 0 01-19.09 19.18zM400 32H48A48 48 0 000 80v352a48 48 0 0048 48h352a48 48 0 0048-48V80a48 48 0 00-48-48zm-17.12 290c-1.29 25.63-7.14 48.34-25.85 67s-41.4 24.63-67 25.85c-26.41 1.49-105.59 1.49-132 0-25.63-1.29-48.26-7.15-67-25.85s-24.63-41.42-25.85-67c-1.49-26.42-1.49-105.61 0-132 1.29-25.63 7.07-48.34 25.85-67s41.47-24.56 67-25.78c26.41-1.49 105.59-1.49 132 0 25.63 1.29 48.33 7.15 67 25.85s24.63 41.42 25.85 67.05c1.49 26.32 1.49 105.44 0 131.88z"
            />
          </svg>
        </a>

        <a
          class="ml-3 text-gray-100 hover:text-yellow-500"
          target="_blank"
          (click)="setLinks('https://twitter.com/A2_SV')"
          href="https://twitter.com/A2_SV"
        >
          <svg
            class="w-3 h-3 sm:w-4 sm:h-4"
            viewBox="0 0 300 300"
            fill="white"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M178.57 127.15 290.27 0h-26.46l-97.03 110.38L89.34 0H0l117.13 166.93L0 300.25h26.46l102.4-116.59 81.8 116.59h89.34M36.01 19.54H76.66l187.13 262.13h-40.66"
            />
          </svg>
        </a>

        <a
          class="ml-3 text-gray-100 hover:text-yellow-500"
          target="_blank"
          (click)="setLinks('https://www.linkedin.com/company/a2sv/')"
          href="https://www.linkedin.com/company/a2sv/"
        >
          <svg
            fill="white"
            stroke="white"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="0"
            class="w-4 h-4 sm:w-5 sm:h-5"
            viewBox="0 0 24 24"
          >
            <path
              stroke="none"
              d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
            ></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>

    <div class="block sm:hidden relative">
      <button
        (click)="toggleDropdown()"
        class="text-gray-100 hover:text-yellow-500"
      >
        Medias
      </button>
      <div
        *ngIf="dropdownVisible"
        class="absolute flex flex-col mt-4 space-y-2 bg-black bg-opacity-30 p-3"
      >
        <a
          class="text-gray-100 hover:text-yellow-500"
          target="_blank"
          (click)="setLinks('https://t.me/A2SVOfficial')"
          href="https://t.me/A2SVOfficial"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="white"
            class="w-4 h-4"
            viewBox="0 0 24 24"
          >
            <path
              d="M29.919 6.163l-4.225 19.925c-0.319 1.406-1.15 1.756-2.331 1.094l-6.438-4.744-3.106 2.988c-0.344 0.344-0.631 0.631-1.294 0.631l0.463-6.556 11.931-10.781c0.519-0.462-0.113-0.719-0.806-0.256l-14.75 9.288-6.35-1.988c-1.381-0.431-1.406-1.381 0.288-2.044l24.837-9.569c1.15-0.431 2.156 0.256 1.781 2.013z"
            />
          </svg>
        </a>
        <a
          class="text-gray-100 hover:text-yellow-500"
          target="_blank"
          (click)="setLinks('https://www.facebook.com/africatosiliconvalley')"
          href="https://www.facebook.com/africatosiliconvalley"
        >
          <svg
            fill="white"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4"
            viewBox="0 0 24 24"
          >
            <path
              d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
            ></path>
          </svg>
        </a>
        <a
          class="text-gray-100 align-middle hover:text-yellow-500"
          target="_blank"
          (click)="setLinks('https://www.instagram.com/a2sv_org/?hl=en')"
          href="https://www.instagram.com/a2sv_org/?hl=en"
        >
          <svg
            fill="white"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 sm:w-5 sm:h-5"
            viewBox="0 0 448 512"
          >
            <path
              d="M224 202.66A53.34 53.34 0 10277.36 256 53.38 53.38 0 00224 202.66zm124.71-41a54 54 0 00-30.41-30.41c-21-8.29-71-6.43-94.3-6.43s-73.25-1.93-94.31 6.43a54 54 0 00-30.41 30.41c-8.28 21-6.43 71.05-6.43 94.33s-1.85 73.27 6.47 94.34a54 54 0 0030.41 30.41c21 8.29 71 6.43 94.31 6.43s73.24 1.93 94.3-6.43a54 54 0 0030.41-30.41c8.35-21 6.43-71.05 6.43-94.33s1.92-73.26-6.43-94.33zM224 338a82 82 0 1182-82 81.9 81.9 0 01-82 82zm85.38-148.3a19.14 19.14 0 1119.13-19.14 19.1 19.1 0 01-19.09 19.18zM400 32H48A48 48 0 000 80v352a48 48 0 0048 48h352a48 48 0 0048-48V80a48 48 0 00-48-48zm-17.12 290c-1.29 25.63-7.14 48.34-25.85 67s-41.4 24.63-67 25.85c-26.41 1.49-105.59 1.49-132 0-25.63-1.29-48.26-7.15-67-25.85s-24.63-41.42-25.85-67c-1.49-26.42-1.49-105.61 0-132 1.29-25.63 7.07-48.34 25.85-67s41.47-24.56 67-25.78c26.41-1.49 105.59-1.49 132 0 25.63 1.29 48.33 7.15 67 25.85s24.63 41.42 25.85 67.05c1.49 26.32 1.49 105.44 0 131.88z"
            />
          </svg>
        </a>

        <a
          class="text-gray-100 hover:text-yellow-500"
          target="_blank"
          (click)="setLinks('https://twitter.com/A2_SV')"
          href="https://twitter.com/A2_SV"
        >
          <svg
            class="w-3 h-3 sm:w-4 sm:h-4"
            viewBox="0 0 300 300"
            fill="white"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M178.57 127.15 290.27 0h-26.46l-97.03 110.38L89.34 0H0l117.13 166.93L0 300.25h26.46l102.4-116.59 81.8 116.59h89.34M36.01 19.54H76.66l187.13 262.13h-40.66"
            />
          </svg>
        </a>

        <a
          class="text-gray-100 hover:text-yellow-500"
          target="_blank"
          (click)="setLinks('https://www.linkedin.com/company/a2sv/')"
          href="https://www.linkedin.com/company/a2sv/"
        >
          <svg
            fill="white"
            stroke="white"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="0"
            class="w-4 h-4 sm:w-5 sm:h-5"
            viewBox="0 0 24 24"
          >
            <path
              stroke="none"
              d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
            ></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </div>
    </div>

    <div class="flex lg:hidden">
      <button
        (click)="toggleMenu()"
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="white"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>
  </nav>

  
  <div class="pt-10"></div>

  <!--   Mobile menu, show/hide based on menu open state.-->
  <div
    *ngIf="showMenu"
    class="lg:hidden relative text-white"
    role="dialog"
    aria-modal="true"
  >
   
    <div
      class="fixed inset-y-0 right-0 w-full overflow-y-auto bg-black px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex items-center justify-between">
        <button
          (click)="toggleMenu()"
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-white"
        >
          <span class="sr-only">Close menu</span>
          <div class="text-white">
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="white"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </div>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a
              (click)="scrollToSection('landing'); toggleMenu()"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-200 hover:bg-gray-800"
              >Home</a
            >
            <a
              (click)="scrollToSection('why-attend'); toggleMenu()"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-200 hover:bg-gray-800"
              >Why Attend ATLS</a
            >
           
            <a
              (click)="scrollToSection('innovation'); toggleMenu()"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-200 hover:bg-gray-800"
              >Innovation
            </a>
          
            
            <a
              (click)="scrollToSection('get-tickets'); toggleMenu()"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-200 hover:bg-gray-800"
              >Get Tickets</a
            >
            <a
              (click)="scrollToSection('leadership'); toggleMenu()"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-200 hover:bg-gray-800"
              >Leadership</a
            >
            <a
            (click)="scrollToSection('event-info'); toggleMenu()"
            class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-200 hover:bg-gray-800"
            >Event Info</a
          >
            <a
              (click)="scrollToSection('about-us'); toggleMenu()"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-200 hover:bg-gray-800"
              >About Us</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>


</header>
