<section
  id="judges"
  class="text-white px-20 max-sm:px-4 body-font snap-start snap-always ease-in-out"
>
  <div class="container py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <p class="sm:text-4xl text-center text-2xl font-medium mb-4 text-white">
        Judges
      </p>
      <p class="text-gray-300 leading-relaxed max-sm:text-start">
        Our judges possess a deep understanding of emerging technologies, market
        trends, and the challenges faced by developers and innovators. They have
        made significant contributions to various domains within the tech
        industry.
      </p>
    </div>
    <!-- <div  class="grid grid-cols-2 gap-4 max-lg:grid-cols-2 max-md:grid-cols-1 ">
      <div *ngFor="let judge of judges" tabindex="0"  class="p-2   flex flex-col">
        <div  class="h-full  bg-black border-white border-[0.25px] border-opacity-30 p-4 w-full rounded-lg transform transition duration-500 hover:shadow-xl">
          <div class="flex items-start">
            <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{{judge.image}}">
            <div class="flex-grow">
              <a [href]="judge.contact"> <h2 class="text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text title-font hover:text-xl font-bold">{{judge.name}}</h2> </a>
              <p class="text-gray-300 font-light text-sm">{{judge.title}}</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- group hover:shadow-md hover:border-2 transition duration-300 hover:bg-slate-50 hover:border-solid -->
      <div
        *ngFor="let judge of judges"
        tabindex="0"
        class="px-5 text-center rounded border border-gray-800 group hover:bg-gray-700 hover:shadow-md hover:border transition duration-300 hover:border-solid p-2 transform hover:scale-105"
      >
        <a [href]="judge.contact" target="_blank">
          <div class="flex flex-col justify-between items-center h-full">
            <div class="flex flex-col justify-center items-center">
              <div
                class="w-[200px] h-[200px] text-center bg-gray-500 p-2 rounded-full transition-transform transform-gpu hover:scale-105 hover:bg-gray-400"
              >
                <img
                  alt="team"
                  class="w-full h-full object-cover object-center flex-shrink-0 rounded-full mr-4"
                  src="{{ judge.image }}"
                />
              </div>
              <h1 class="text-center text-4xl py-4 font-bold">
                {{ judge.name }}
              </h1>
              <p class="py-5 px-4 text-justify justify-between">
                {{ judge.title }}
              </p>
            </div>
            <div class="group relative">
              <div class="hidden group-hover:inline-block text-white">
                <img
                  src="assets/Linkedin.svg"
                  class="w-10 h-10 text-white"
                  alt=""
                />
              </div>
            </div>
          </div>
        </a>

        <!-- <a [href]="judge.contact" target="_blank">
        
      </a> -->
      </div>
    </div>
  </div>
</section>
