<div class="container lg:max-w-[420px] ">
    <div class="{{prize?.place == 'First' ? 'py-[32px]': 'py-[16px]' }} relative   w-full lg:w-[100] px-5   flex flex-col bg-[#0E0C15]  rounded-3xl border-white border-[0.25px] border-opacity-30">
      <img src="{{prize?.image}}" class="absolute -top-3 -right-3 w-1/4  max-sm:w-1/4" alt="">
      <h2 class="{{prize?.place == 'First' ? 'text-[#FFC876]' : prize?.place == 'Second' ? 'text-[#C0C0C0]' : 'text-[#CD7F32]'}}   text-xl  opacity-100">{{prize?.place}} Place </h2>
      <p class="text-xl py-3 font-semibold text-white">$ <span class="text-xl ">{{prize?.prize}}</span></p>
      <div *ngFor="let award of prize?.awards" class="flex  gap-x-3 py-[5px] items-center mt-4 border-t border-white border-opacity-30">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-6 text-[#AC6AFF] flex-none">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
        </svg>
        <p class="text-gray-300  leading-relaxed">{{award}}
        </p>
      </div>
    </div>
</div>
