<!-- <app-privacy-consent></app-privacy-consent> -->

<app-consent></app-consent>
<div *ngIf="!modalOpen" class="relative z-40">
  <app-header [currentSection]="currentSection"></app-header>
</div>


<div
  *ngIf="showPartnerButton"
  style="position: fixed; top: 45vh; left: -40px; z-index: 1000"
>
  <a
    href="https://form.typeform.com/to/opvWnrn7"
    target="_blank"
    
  >
 
    <button
     (click)="scrollToSection('get-tickets')"
      class="px-4 py-3 rounded-md transition-transform duration-300 ease-in-out bg-gradient-to-r from-gold  to-yellow-400"
      style="transform: rotate(270deg)"
    >
      Buy Tickets Now
    </button>
  </a>
</div>

<div id="landing">
  <app-landing></app-landing>
</div>

<div id="why-attend" class="relative z-30">
  <app-why-attend></app-why-attend>
</div>

<div id="innovation" class="relative z-30">
  <app-innovation></app-innovation>
</div>

<div id="leadership" class="relative z-30">
  <app-leadership></app-leadership>
</div>

<div id="event-info" class="relative z-30">
  <app-event-info></app-event-info>
</div>



<div id="get-tickets" class="relative z-30">
  <app-get-tickets></app-get-tickets>
</div>


<div id="about-us" class="relative z-30">
  <app-about-us></app-about-us>
</div>
<div id="partners" class="relative z-30">
  <app-potential-partners></app-potential-partners>
</div>


<div id="footer" class="relative z-40">
  <app-footer></app-footer>
</div>

