<section
  id="fixed-eligibility"
  class="max-sm:px-4 max-lg:px-12 sm:pb-16 pt-24 pb-32 px-5 overflow-x-hidden flex flex-col justify-center items-center"
>
<div class=" max-w-6xl">
  <p class="sm:text-4xl text-center text-2xl font-medium mb-4 text-white">
    Eligibility
  </p>
  <div class="p-2 grid grid-cols-1 lg:grid-cols-2 gap-x-12 items-start">
    <div class="flex-none max-lg:my-6 sm:pb-8 md:mx-8 sm:mt-0 sm:text-left">
      <p class="text-gray-300 leading-relaxed max-sm:text-start">
        The A2SV Hackathon is currently at the semi-final stage. 
        To participate in future events, students across Africa who are passionate about AI and eager 
        to showcase their skills and creativity should meet the following eligibility requirements:

      </p>

      <div class="flex justify-start mt-6 mb-5">
        <button
          (click)="showIndividualCriteria()"
          [ngClass]="{
            ' border-[1.5px] border-gray-300 text-gray-500 ':
              !isIndividual,
            'bg-purple-700 cursor-not-allowed disabled': isIndividual
          }"
          class="inline-flex text-white border-0 max-sm:px-4 py-2 px-4 rounded-full focus:outline-none hover:drop-shadow-xl text-sm mr-4"
        >
          Individual
        </button>
        <button
          (click)="showTeamCriteria()"
          [ngClass]="{
            'border-[1.5px] border-gray-300 text-gray-500 cursor-not-allowed disabled':
              isIndividual,
            'bg-purple-700 cursor-not-allowed disabled': !isIndividual
          }"
          class="inline-flex text-white border-0 max-sm:px-4 py-2 px-6 focus:outline-none hover:drop-shadow-xl rounded-full text-sm"
        >
          Team
        </button>
      </div>

      <div>
        <ul>
          <li *ngFor="let criterion of criteria; let i = index">
            <div class="flex items-start py-2">
              <div class="flex-none w-8 h-8 mr-5">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="w-full h-full text-[#AC6AFF]"
                >
                  <path
                    fill-rule="evenodd"
                    d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <div class="flex-grow">
                <p
                  class="text-gray-300 leading-relaxed text-start"
                  
                >
                  {{ criterion.text }}
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-- <div *ngIf="eligibilityConfirmed" [@fadeInOut]>
        <p
          class="text-gray-300 leading-relaxed max-sm:text-start mt-6"
          *ngIf="eligibilityConfirmed"
        >
          You are eligible to participate!
        </p>
        <div *ngIf="eligibilityConfirmed" class="flex mt-12 justify-center">
          <button
            (click)="checkEligibility()"
            class="inline-flex transition-all cursor-pointer ease-out duration-400 bg-purple-700 hover:bg-purple-500 relative disabled:bg-gray-500 text-white border-0 max-sm:px-4 py-2 px-9 focus:outline-none hover:drop-shadow-xl rounded-full max-sm:text-sm text-lg group"
          >
            Register Now
          </button>
        </div>
      </div> -->
    </div>
    <img
      src="assets/chat%20image.png"
      class="flex-none max-md:hidden w-full object-cover object-center rounded-3xl"
      alt=""
    />
  </div>
</div>
</section>
