<section
  id="event-info"
  class="min-h-screen max-sm:py-0 py-6 max-sm:px-0 flex flex-col items-center justify-center"
>
  <div
    class="max-w-6xl w-full h-full relative overflow-hidden flex flex-col justify-center items-center"
  >
   

    <div
      class="container relative max-lg:px-4 max-sm:mt-4 px-12 pt-4 mt-12 flex flex-col"
    >
      <div
        class="flex flex-col lg:flex-row justify-center gap-x-12 items-center"
      >
        <div class="sm:py-8 flex-1 mt-4 pt-4 sm:mt-0 sm:text-left">
          <p
            class="sm:text-2xl md:text-left text-2xl font-medium mb-4 text-white"
          >
            Over the course of four days, ATLS will feature:
          </p>
          <p class="mt-3 text-gray-300 leading-relaxed">
            <strong
              class="font-bold text-transparent bg-gradient-to-r from-gold to-yellow-400 bg-clip-text"
              >Live Expo Showcasing Startups:</strong
            >
            Discover the latest innovations at our live expo, where Africa’s
            most promising startups showcase their solutions to investors and
            potential partners.
          </p>
          <p class="mt-3 text-gray-300 leading-relaxed">
            <strong
              class="font-bold text-transparent bg-gradient-to-r from-gold to-yellow-400 bg-clip-text"
              >Workshops by Industry Experts:</strong
            >
            Enhance your skills through workshops led by top tech experts,
            covering the latest industry tools, trends, and strategies.
          </p>
          <p class="mt-3 text-gray-300 leading-relaxed">
            <strong
              class="font-bold text-transparent bg-gradient-to-r from-gold to-yellow-400 bg-clip-text"
              >Keynote Sessions from Government and Tech Leaders:</strong
            >
            Learn from government and tech leaders about the future of
            technology in Africa, exploring policies and opportunities for
            digital transformation.
          </p>
          <p class="mt-3 text-gray-300 leading-relaxed">
            <strong
              class="font-bold text-transparent bg-gradient-to-r from-gold to-yellow-400 bg-clip-text"
              >AI for Impact Hackathon Finale:</strong
            >
            Attend the final pitches of the AI for Impact Hackathon, where
            finalists present their solutions to Africa’s challenges, competing
            for support to implement their ideas.
          </p>
        </div>

        <img
          src="https://res.cloudinary.com/eskalate/image/upload/v1714657509/Hackathon/certificateDay-min.jpg"
          class="lg:w-1/2 flex-1 h-64 aspect-square w-full lg:h-96 sm:h-72 object-cover object-center rounded-xl"
          alt=""
        />
      </div>
    </div>
    <p
      class="sm:text-4xl mt-5 pt-5 text-center text-2xl font-medium text-white"
    >
      ATLS Timeline
    </p>

    <app-timeline></app-timeline>
  </div>
</section>
