<section>
  <div *ngIf="showModal" class="backdrop-blur   overflow-x-hidden max-sm:p-5 overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative max-md:hidden w-full mt-8  max-w-6xl max-h-full flex flex-col rounded-3xl bg-black justify-center items-center">
      <button (click)="closeModal()" class="absolute right-0 top-0 mt-4 mr-4 text-3xl font-semibold leading-none text-gray-600 outline-none focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
          <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd" />
        </svg>
      </button>
      
      <iframe [src]="sanitizedUrl" class="w-full rounded-3xl aspect-video bg-black" (load)="onIframeLoad()" (error)="onIframeLoad()"></iframe>
      <!-- <iframe [src]="getSafeRegistrationLink()" class="w-full rounded-3xl aspect-video bg-black" (load)="onIframeLoad()" (error)="onIframeLoad()"></iframe> -->
      <div class="flex  absolute items-center justify-center">
        <div *ngIf="isIframeLoading"  class="animate-spin  rounded-full h-32 w-32 max-sm:h-16 max-sm:w-16 border-t-2 border-b-2 border-indigo-700 "></div>
      </div>
    </div>
    <div  class="relative md:hidden text-white  " role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-black overflow-x-hidden  sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <button (click)="closeModal()" type="button" class="-m-2.5 absolute top-2 right-2 rounded-md p-2.5 text-gray-300">
          <span class="sr-only">Close menu</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd" />
          </svg>
        </button>
        <iframe class="w-full h-full bg-black " (load)="onIframeLoad()" (error)="onIframeLoad()" [src]=sanitizedUrl></iframe>
        <!-- <iframe class="w-full h-full bg-black " (load)="onIframeLoad()" (error)="onIframeLoad()" [src]="getSafeRegistrationLink()"></iframe> -->
        <div class="flex max-md:hidden absolute items-center justify-center">
          <div *ngIf="isIframeLoading"  class="animate-spin  rounded-full h-32 w-32 max-sm:h-16 max-sm:w-16 border-t-2 border-b-2 border-indigo-700 "></div>
        </div>
      </div>
    </div>
  </div>
  <dialog  id="share_modal" class="modal mt-4 ">
    <form method="dialog" class="modal-box w-11/12 max-sm:w-full max-sm:mx-2 max-w-7xl min-h-8xl bg-gray-900">
      <section class="text-gray-400 bg-gray-900 body-font h-[70vh] flex items-center justify-center ">
        <div class="container p-4 flex justify-center items-center">
          <div class="grid grid-cols-1 md:grid-cols-5 justify-center items-center w-full ">
            <div class=" rounded-xl  overflow-hidden md:col-span-3 h-full w-full bg-opacity-40  relative">
              <img class="object-cover w-full h-full" src="https://res.cloudinary.com/eskalate/image/upload/v1718181258/Hackathon-2024/Hackathon_Registration_Card.png" alt="Hackathon Attendance">
            </div>
            <div class="p-5 md:col-span-2 h-full w-full max-md:mt-4 flex flex-col items-center justify-center">
              <h3 class="text-lg text-gray-100 font-semibold mb-3 text-center ">Congrats on registering!🎉 Share this moment with your friends! Copy the text below and spread the word on your social media using the respective buttons provided.</h3>
              <!-- <div class="flex flex-col items-center justify-center w-full mb-4">
                <textarea id="shareText" class="textarea textarea-bordered w-full h-auto">I've just registered for the A2SV Hackathon! Join me and be part of this hackathon! https://hackathon.a2sv.org</textarea>
                <button class="btn btn-primary mt-4" onclick="navigator.clipboard.writeText(document.getElementById('shareText').value)">Copy Text</button>
              </div> -->
              <div class="flex flex-col items-center justify-center w-full mb-4">
                <textarea id="shareText" class="textarea textarea-bordered w-full h-auto">I've just registered for the A2SV Hackathon! Join me and be part of this hackathon! https://hackathon.a2sv.org</textarea>
                <button [class]="buttonClass" [disabled]="isButtonDisabled" (click)="copyText()">{{ buttonText }}</button>
              </div>
              <span class="inline-flex max-sm:mb-4 sm:mt-0 gap-x-3 items-center justify-center">
                <a class="text-gray-100 hover:text-indigo-600 mb-1" target="_blank" (click)="setActiveButton('telegram', telegramSharingLink)" href="https://t.me/share/url?url=https://res.cloudinary.com/eskalate/image/upload/v1717588776/gallery/Hackathon_Attendance.png&text=I've%20just%20registered%20for%20the%20A2SV%20Hackathon!%20Join%20me%20and%20share%20your%20own%20registration!">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4 sm:w-5 sm:h-5 "  viewBox="0 0 24 24">
                  <path d="M29.919 6.163l-4.225 19.925c-0.319 1.406-1.15 1.756-2.331 1.094l-6.438-4.744-3.106 2.988c-0.344 0.344-0.631 0.631-1.294 0.631l0.463-6.556 11.931-10.781c0.519-0.462-0.113-0.719-0.806-0.256l-14.75 9.288-6.35-1.988c-1.381-0.431-1.406-1.381 0.288-2.044l24.837-9.569c1.15-0.431 2.156 0.256 1.781 2.013z"/>
                  </svg>
                </a>
        
                <a class="text-gray-100 hover:text-indigo-600 mr-2" target="_blank" (click)="setActiveButton('facebook', facebookSharingLink)" href="https://www.facebook.com/sharer/sharer.php?u=https://res.cloudinary.com/eskalate/image/upload/v1717588776/gallery/Hackathon_Attendance.png&quote=I've%20just%20registered%20for%20the%20A2SV%20Hackathon!%20Join%20me%20and%20share%20your%20own%20registration!">
                  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 sm:w-5 sm:h-5 " viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                  </svg>
                </a>
        
                <a class="ml-3 text-gray-100 hover:text-indigo-600" target="_blank"  (click)="setActiveButton('twitter', twitterSharingLink)" href="https://twitter.com/intent/tweet?url=https://res.cloudinary.com/eskalate/image/upload/v1717588776/gallery/Hackathon_Attendance.png&text=I've%20just%20registered%20for%20the%20A2SV%20Hackathon!%20Join%20me%20and%20share%20your%20own%20registration!">
                    <svg class="w-3 h-3 sm:w-4 sm:h-4" viewBox="0 0 300 300" fill="currentColor"  xmlns="http://www.w3.org/2000/svg">
                      <path d="M178.57 127.15 290.27 0h-26.46l-97.03 110.38L89.34 0H0l117.13 166.93L0 300.25h26.46l102.4-116.59 81.8 116.59h89.34M36.01 19.54H76.66l187.13 262.13h-40.66"/>
                    </svg>
                </a>
                <a class="ml-3  text-gray-100 hover:text-indigo-600" target="_blank"  (click)="setActiveButton('linkedin', linkedinSharingLink)" href="https://www.linkedin.com/sharing/share-offsite/?url=https://res.cloudinary.com/eskalate/image/upload/v1717588776/gallery/Hackathon_Attendance.png">
                  <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-4 h-4 sm:w-5 sm:h-5" viewBox="0 0 24 24">
                    <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                  </svg>
                </a>
              </span>
            </div>
          </div>
        </div>
      </section>
      <div class="modal-action">
        <button class="btn" (click)="closeForReal()" >Close</button>
      </div>
    </form>
   
  </dialog>
</section>

